{
  "globals": {
    "browser": true,
    "Request": true,
    "fetch": true,
    "Headers": true
  },
  "rules": {
    "semi": ["error", "always"],
    "indent": ["error", 4, {
      "SwitchCase": 1
    }]
  }
}